[Unit]
Description=udk/market
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/market-frontend
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /opt/market-frontend/index.js
Restart=always

[Install]
WantedBy=multi-user.target
