.*.swp
.DS_Store

.gitmodules

.vault_pass
.vault_pass_*

ansible.cfg

inventories/*
!inventories/example/

playbooks/*
!playbooks/_upgrade.yml
!playbooks/element.yml
!playbooks/medienhaus.yml

roles/element-web/templates/*
!roles/element-web/templates/config.json
