[Unit]
Description=rundgang backend
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/rundgang-backend
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /opt/rundgang-backend/index.js
Restart=always

[Install]
WantedBy=multi-user.target
